lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.version
*~

config/*
!config/sample.json
init/*
!init/sample.sh

pids
logs
results
reports
.DS_Store
npm-debug.log
node_modules
vwauth.json

Berksfile.lock
.vagrant
